#navbar{
    width: 80%;
    margin: auto;
    justify-content: space-between;
    background-color: rgb(87, 202, 202);
    border-radius: 15px;
    padding: 8px 0px 8px 0px;
}
#navbar>a{
    text-decoration: none;
    color: black;
    margin-left: 200px;
    font-size: 20px;
}
#navbar>a:hover{
    color: green;
}
#container{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 30px;
    row-gap: 30px;
    text-align: center;
    margin-top: 60px;
}
#container img{
    width: 90%;
    height: 300px;
}
